.col-sm-12
  .form-group
    input#inputId.form-control(type='hidden', name="funcionario[id]", value=(funcionario ? funcionario.id : null))

.col-sm-6.text-left
  .form-group
    label(for='inputNome') Nome
    input#inputNome.form-control(type='text', name="funcionario[nome]", value=(funcionario ? funcionario.nome : null), placeholder='Nome', required)

.col-sm-6.text-left
  .form-group
    label(for='inputSobrenome') Sobrenome
    input#inputSobrenome.form-control(type='text', name="funcionario[sobrenome]", value=(funcionario ? funcionario.sobrenome : null), placeholder='Sobrenome', required)

.col-sm-6.text-left
  .form-group
    label(for='inputEmail') Email
    input#inputEmail.form-control(type='email', name="funcionario[email]", value=(funcionario ? funcionario.email : null), placeholder='Email', required)

.col-sm-6.text-left
  .form-group
    label(for='inputCpf') CPF
    input#inputCpf.form-control(type='text', name="funcionario[cpf]", value=(funcionario ? funcionario.cpf : null), placeholder='CPF', required)

.col-sm-6.text-left
  .form-group
    label(for='inputCarteira') Carteira de Trabalho
    input#inputCpf.form-control(type='text', name="funcionario[carteira_de_trabalho]", value=(funcionario ? funcionario.carteira_de_trabalho : null), placeholder='Carteira de Trabalho', required)

.col-sm-6.text-left
  .form-group
    label(for='inputDataInicio') Data de Início do Contrato
    input#inputDataInicio.form-control(type='date', name="funcionario[data_de_inicio_do_contrato]", value=(funcionario ? funcionario.data_de_inicio_do_contrato : null), placeholder='Data de Início do Contrato', required)

.col-sm-6.text-left
  .form-group
    label(for='inputDataFim') Data de Fim do Contrato
    input#inputDataFim.form-control(type='date', name="funcionario[data_de_fim_do_contrato]", value=(funcionario ? funcionario.data_de_fim_do_contrato : null), placeholder='Data de Fim do Contrato')

.col-sm-6.text-left
  .form-group
    label(for='inputPapel') Papel
      select#inputPapel.form-control(name="funcionario[papel]", placeholder='Papel', required)
        option(value='') Selecione
        option(value='admin') Administrador
        option(value='supervisor saida') Supervisor de Saída
        option(value='saida') Saída
        option(value='comercial') Comercial

