extends ../layout

block page_title
  | Cadastro

block main_content
  section
    .row.text-center
      .col-md-12
        .heading
          h2 Insira seus dados
      .col-md-8.col-md-offset-2
        form(action="/cliente/clientes/" method="POST")
          .row
            .col-sm-6.col-md-offset-3.text-left
              .form-group
                label(for='inputNome') Nome
                input#inputNome.form-control(type='text', name="cliente[nome]", placeholder='Nome', required)
            .col-sm-6.col-md-offset-3.text-left
              .form-group
                label(for='inputSobrenome') Sobrenome
                input#inputSobrenome.form-control(type='text', name="cliente[sobrenome]", placeholder='Sobrenome', required)
            .col-sm-6.col-md-offset-3.text-left
              .form-group
                label(for='inputEmail') Email
                input#inputEmail.form-control(type='email', name="cliente[email]", placeholder='Email', required)
            .col-sm-6.col-md-offset-3.text-left
              .form-group
                label(for='inputCpf') Cpf
                input#inputCpf.form-control(type='text', name="cliente[cpf]", placeholder='Cpf', required)
            .col-sm-6.col-md-offset-3.text-left
              .form-group
                label(for='inputSenha') Senha
                input#inputSenha.form-control(type='password', name="cliente[password]", placeholder='Senha', required)
            .col-sm-6.col-md-offset-3.text-right
              button.btn.btn-default(type='submit')
                |  Cadastrar