extends ../layout

block page_title
  | Login

block main_content
  section
    .row.text-center
      .col-md-12
        .heading
          h2 Acesse sua conta
      .col-md-8.col-md-offset-2
        form(action="/cliente/sessions/" method="POST")
          .row
            .col-sm-6.text-left
              .form-group
                label(for='inputEmail') Email
                input#inputEmail.form-control(type='email', name="cliente[email]", placeholder='Email', required)
            .col-sm-6.text-left
              .form-group
                label(for='inputSenha') Senha
                input#inputSenha.form-control(type='password', name="cliente[password]", placeholder='Senha', required)
            .col-sm-12.text-right
              button.btn.btn-default(type='submit')
                |  Entrar