extends ../layout

block page_title
  | Perfil

block main_content
  .heading
    if showNewEnderecoButton
      a.btn.btn-template-main.btn-md(href="/cliente/enderecos/new") Cadastrar novo endereço
  if maxError
    #get-it.error
      .container.text-center
        h4.text-mute #{maxError}
  .row
    .col-md-12
      .heading
        h2 Meus endereços
  .row
    #customer-orders.col-md-12
      .box
        .table-responsive
          table.table.table-hover
            thead
              tr
                th Rua
                th Número
                th Complemento
            tbody
              each endereco in enderecos
                tr
                  td= endereco.rua
                  td= endereco.numero
                  td= endereco.complemento
                  td
                    a.btn.btn-template-main.btn-sm(href="/cliente/enderecos/" + endereco.id) Ver
                    a.btn.btn-template-main.btn-sm(href="/cliente/enderecos/" + endereco.id + "/edit") Editar
                    a.btn.btn-template-main.btn-sm(href="/cliente/enderecos/" + endereco.id + "/delete") Remover
