extends ../layout

block page_title
  | Produtos

block main_content
  section
    .row.text-center
      .col-md-12
        .heading
          h2 Insira os dados do produto
      .col-md-8.col-md-offset-2
        form(action="/intranet/produtos", method="POST")
          .row
            include partials/form.jade

            .col-sm-12.text-right
              button.btn.btn-default
                a(href="/intranet/produtos")
                i.fa.fa-close
                |  Cancelar
              | &nbsp; &nbsp;
              button.btn.btn-template-main(type='submit')
                i.fa.fa-save
                |  Criar

