.subtitle {
  font-weight: 300;
  font-size: small;
}

input.small {
    max-width: 100px;
    margin-right: 20px;
}

btn.small {
    max-height: 26px;
    line-height: 1;
}

#get-it.error {
  background-color: #cc0000;
}

.img-responsive.image1 {
    height: 256px;
}