extends ../funcionario_layout

block page_title
  | Pedido número #{pedido.id}

block main_content
  .content
    .container
      .row
        .col-md-12
          p.text-muted.lead Total de itens: #{pedido.totalItens}
        #basket.col-md-9.clearfix
          .box
            .table-responsive
              table.table
                thead
                  tr
                    th(colspan='2') Produto
                    th Quantidade
                    th Preço unitário
                    th Desconto
                    th Total










                tfoot
                  tr
                    th(colspan='5') Total
                    th(colspan='2') R$ #{pedido.valor_total}
              .box-footer
                .pull-left
                  a.btn.btn-default(href='/intranet/pedidos')
                    i.fa.fa-chevron-left
                    |  Voltar para pedidos
        .col-md-3
          #order-summary.box
            .box-header
              h3 Pedido
            .table-responsive
              table.table
                tbody
                  tr
                    td Status
                    th #{pedido.status}
