extends ../funcionario_layout

block page_title
  | Funcionarios

block main_content
  section
    .row
      if inUseError
        .alert.alert-danger.alert-dismissible(role="alert")
          button.close(data-dismiss="alert" type="button")
            span(aria-hidden="true")  ×
            span.sr-only Fechar
          | #{inUseError}
    .row.text-center
      .col-md-12
        .heading
          h2 Insira os dados do funcionário
      .col-md-8.col-md-offset-2
        form(action="/intranet/funcionarios", method="POST")
          .row
            include partials/form.jade
            .col-sm-12.text-right
              a.btn.btn-default(href="/intranet/funcionarios")
                i.fa.fa-close
                |  Cancelar
              | &nbsp; &nbsp;
              button.btn.btn-template-main(type='submit')
                i.fa.fa-save
                |  Criar

