extends ./layout

block page_title
  | Seja bem-vindo(a)

block main_content
  .content
    .container
      .row.products
        .col-md-3.col-sm-4
          .product
            .image
              a(href="/produtos/1")
                img.img-responsive.image1(src="img/product1.jpg")
            .text
              h3
                a(href="/produtos/1")
                  | Fur coat with very but very very long name
              p.price $143.00
            .buttons
              a.btn.btn-default(href="/produtos/1")
                | View detail
              a.btn.btn-template-main(href="shop-basket.html")
                i.fa.fa-shopping-cart
                  | Add to cart
