extends ./layout

block page_title
  | Seja bem-vindo(a)

block main_content
  .content
    .container
      .row.products
        each produto in produtos
          .col-md-3.col-sm-4
            .product
              .image
                a(href="/produtos/" + produto.id)
                  img.img-responsive.image1(src=produto.imagem)
              .text
                h3
                  a(href="/produtos/" + produto.id)
                    p= produto.nome
                    p.subtitle= produto.fabricante
                p.price R$ #{produto.preco}
              .buttons
                a.btn.btn-default(href="/produtos/1")
                  | View detail
                a.btn.btn-template-main(href="shop-basket.html")
                  i.fa.fa-shopping-cart
                    | Add to cart
