extends ./layout

block page_title
  | Detalhes do produto

block main_content
  .content
    .container
      .row
        .col-md-8.col-md-offset-2
          #productMain.row
            .col-sm-6
              #mainImage
                img.img-responsive(src='/img/detailbig1.jpg', alt='')
            .col-sm-6
              h2 Tênis Naiqui
              .box
                h4 Descrição do produto
                p
                  | White lace top, woven, has a round neck, short sleeves, has knitted lining attached
                p.price R$ 124,00

                form(action="/carinho/6")
                  .col-md-6
                    .sizes
                      h4 Tamanho
                      .form-group
                        select#tamanho.form-control
                          option(value='36') 36
                          option(value='38') 38
                          option(value='40') 40
                  .col-md-6
                    .sizes
                      h4 Cor
                      .form-group
                        select#tamanho.form-control
                          option(value='vermelho') vermelho
                          option(value='azul') azul
                          option(value='branco e preto') branco e preto
                    p &nbsp;

                  p.text-center
                    a.btn.btn-default(href="/")
                      i.fa.fa-gift
                      |  Voltar à lista
                    | &nbsp;
                    button.btn.btn-success(type='submit')
                      i.fa.fa-shopping-cart
                      |  Comprar

