extends ../main_layout

block nav_menu
  if !!currentUser
    a(href="/intranet/perfil")
      i.fa.fa-user
      span.hidden-xs.text-uppercase Olá #{currentUser['nome']}
    a(href='/funcionario/sessions/delete')
      i.fa.fa-sign-out
      span.hidden-xs.text-uppercase Sair
  else
    | &nbsp;

block main_menu
  if !!currentUser
    li
      a(href='/intranet/clientes') Clientes
    li
      a(href='/intranet/pedidos') Pedidos
    if (currentUser.papel === 'admin' || currentUser.papel === 'comercial')
      li
        a(href='/intranet/produtos') Produtos
      //li
      //  a(href='#') Devoluções
    if currentUser.papel === 'admin'
      li
        a(href='/intranet/cortesias') Cortesias
      //li
      //  a(href='#') Relatórios
      li
        a(href='#') Funcionários
    li
      a(href='/intranet/perfil') Perfil
