extends ../main_layout

block nav_menu
  if !!currentUser
    a(href="/intranet/perfil")
      i.fa.fa-user
      span.hidden-xs.text-uppercase Olá #{currentUser['nome']}
    a(href='/funcionarios/sessions/delete')
      i.fa.fa-sign-out
      span.hidden-xs.text-uppercase Sair
  else
    | &nbsp;

block main_menu
  if !!currentUser
    li
      a(href='/intranet/clientes') Clientes
    li
      a(href='/intranet/produtos') Produtos
    li
      a(href='#') Funcionários
    li
      a(href='#') Pedidos
    li
      a(href='/intranet/cortesias') Cortesias
    li
      a(href='/intranet/perfil') Perfil
